*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#fff;
    padding:35px;
}

.container{
    width:940px;
    height:55px;
    margin:auto;
    border:6px solid #000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 18px;
    background:#fff;
}

.logo{
    font-size:34px;
    font-family:"Brush Script MT", cursive;
    font-weight:bold;
}

.search{
    flex:1;
    display:flex;
    justify-content:center;
}

.search input{
    width:430px;
    height:26px;
    border:none;
    outline:none;
    background:#f2f2f2;
    border-radius:20px;
    padding-left:15px;
    font-size:12px;
}

.right{
    display:flex;
    align-items:center;
    gap:18px;
}

.right button{
    background:#ff4b6e;
    color:white;
    border:none;
    padding:7px 18px;
    border-radius:20px;
    font-size:12px;
    cursor:pointer;
}

.right i{
    font-size:18px;
    color:#000;
}